<!DOCTYPE html>
<html lang="en" ng-app="Mymodule">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js">
  </script>
  <script src="C:\Users\hp\Desktop\HTML\Angular js\Angularjsevent.js">
  </script>
</head><body ng-controller="mycontroller">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>LIKE</th>
        <th>DISLIKE</th>
        <th>LIKE/DISLIKE</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tech in techs">
        <td>{{tech.Name}}</td>
        <td>{{tech.LIKES}}</td>
        <td>{{tech.DISLIKE}}</td>
        <td>
          <input type="button" value="LIKES" ng-click="INCREMENTLIKES(tech)">
        <input type="button" value="DISLIKES" ng-click="INCREMENTDISLIKES(tech)">
        </td>
      </tr>
    </tbody>
  </table>

</body>
</html>
